/fdi-image.ks
/fdi-install.ks
/root/usr/share/fdi/VERSION
/root/usr/share/fdi/RELEASE
/*.tar
/*.iso
/*.log
/tftpboot
/fdi-image
/anaconda
/build-local
/root/opt/extension/autostart.d/*
/root/opt/extension/facts/*
/root/opt/extension/lib/ruby/*
/root/opt/extension/lib/*
/root/opt/extension/bin/*
/root/usr/share/locale/fdi/*/*.pox
/00-repos-rhel*.ks
/fdi-rhel*.ks
/build-livecd-root.conf.sh
/result/*
