fdi-image.ks
fdi-install.ks
root/usr/share/fdi/VERSION
root/usr/share/fdi/RELEASE
*.tar
*.iso
.idea/
build-local
root/opt/extension/autostart.d/*
root/opt/extension/facts/*
root/opt/extension/lib/ruby/*
root/opt/extension/lib/*
root/opt/extension/bin/*
fdi-rhel7.ks
00-repos-rhel7.ks
root/usr/share/locale/fdi/*/*.pox
