[Unit]
Description=Script PXE
Wants=basic.target
After=foreman-proxy.service NetworkManager.service
ConditionKernelCommandLine=BOOTIF

[Service]
Type=oneshot
EnvironmentFile=/etc/default/discovery
RemainAfterExit=yes
ExecStart=/usr/bin/discovery-script

[Install]
WantedBy=multi-user.target
