[Unit]
Description=Start downloaded extension scripts
Wants=basic.target
After=basic.target network.target network-online.target nss-lookup.target discovery-setup.service
Before=foreman-proxy.service

[Service]
Type=oneshot
EnvironmentFile=-/etc/default/discovery
RemainAfterExit=yes
ExecStart=/usr/bin/discovery-autostart

[Install]
WantedBy=multi-user.target
