[Unit]
Description=Register this host in Foreman
After=foreman-proxy.service

[Service]
Type=idle
EnvironmentFile=/etc/default/discovery
ExecStart=/usr/bin/discovery-register
KillMode=process
Restart=always
