[Unit]
Description=Download zip extensions to this image
Wants=basic.target
After=basic.target network.target network-online.target nss-lookup.target

[Service]
Type=oneshot
EnvironmentFile=-/etc/default/discovery-zip-server
RemainAfterExit=yes
ExecStart=/usr/bin/discovery-setup

[Install]
WantedBy=multi-user.target
