[Unit]
Description=Discover this host to Foreman
Wants=basic.target
After=basic.target network.target network-online.target nss-lookup.target

[Service]
Type=idle
Environment="FACTERLIB=/usr/share/fdi/facts"
ExecStart=/usr/bin/discover-host
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
