[Unit]
Description=Discovery TUI
Wants=basic.target
After=basic.target network.target nss-lookup.target
ConditionPathExists=/dev/tty1

[Service]
Type=idle
EnvironmentFile=/etc/default/discovery
ExecStart=/usr/bin/discovery-menu
ExecStartPre=/usr/sbin/sysctl -w kernel.printk=0
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5
KillMode=process
TimeoutStopSec=5
StandardInput=tty
StandardError=tty
StandardOutput=tty
TTYPath=/dev/tty1
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
