[Unit]
Description=Prepares NetworkManager configuration for primary interface
Wants=basic.target
Before=NetworkManager.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/nm-prepare primary

[Install]
WantedBy=multi-user.target
